scikit-learn>=1.0.0
numpy>=1.23.5
pandas<2.0.0,>=1.0.0
"ray[default]>=2.7.0"
plotly>=5.18.0
xgboost>=2.0.0
lightgbm>=4.0.0
aiohttp>=3.8.0
requests>=2.31.0
optuna>=3.4.0
websockets>=11.0.3
h5py>=3.8.0
pytest>=8.3.3
python-weather>=1.0.0
python-dotenv>=1.0.0
tqdm>=4.65.0
PyYAML>=6.0.1
matplotlib>=3.7.0
seaborn>=0.12.0
jupyter>=1.0.0
nfl-data-py==0.3.3
loguru>=0.7.2
pybaseball>=2.2.5
bayesian-optimization>=1.4.0
ray>=2.7.0
streamlit==1.29.0
